.shopItemOpen {
  display: flex;
  flex-direction: row;
  padding: 6vw 25vw 6vw 25vw;
  overflow: hidden;
}

.productGallery {
  width: 60%;
}

.content {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 3vw;
  font-size: 1rem;
  line-height: 1.4rem;
  padding-bottom: 15%;
  width: 50%;
}

.content p {
  line-height: 1.4rem;
}

.productTitle {
  margin-bottom: 0.2em;
  margin-top: 0;
  font-weight: 600;
  line-height: 1.4em;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.productExtra {
  margin: 1em 0vw;
  padding: 0.5em 0vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
}

.productSizeSelect {
  margin: 0.5vw 0;
  width: 100%;
}

.productDescription {
  padding-bottom: 1em;
}

.productDescription2 {
  margin-bottom: 1em;
  padding-bottom: 1em;
  color: rgb(170, 170, 170);
}

.border {
  border-top: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
}

.border2 {
  border-bottom: 1px solid rgb(170, 170, 170);
}

.hidden {
  display: none;
}

.productExtra button {
  border: none;
  background-color: white;
  font-size: 0.9rem;
  color: rgb(170, 170, 170);
  padding: 0;
}

.productExtra button:hover {
  cursor: pointer;
}

.atc {
  background-color: black;
  color: white;
  padding: 1.5em 2em;
  cursor: pointer;
  border: none;
  width: 100%;
  font-size: 1rem;
  line-height: 0rem;
}

.atc:hover {
  background-color: rgb(44, 44, 44);
}

.viewAllBtn {
  background-color: gray;
  color: white;
  padding: 1.5em 2em;
  margin-top: 0.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  line-height: 0rem;
}

.viewAllBtn:hover {
  background-color: lightgray;
}

@media only screen and (max-width: 979px) {
  .shopItemOpen {
    padding: 10vw 15vw 6vw 15vw;
  }
}

@media only screen and (max-width: 696px) {
  .shopItemOpen {
    padding: 0;
    flex-direction: column;
  }
  .productGallery {
    width: 100%;
  }
  .content {
    padding: 0 1em;
    width: auto;
    justify-content: center;
  }
  .productTitle {
    order: 1;
  }
  .productPrice {
    order: 2;
    margin-bottom: 0.5em;
  }
  .productActions {
    order: 3;
  }
  .viewAllBtn {
    order: 4;
    margin-bottom: 2vw;
    padding: 1.5em;
  }
  .productExtra {
    order: 5;
  }
  .productDescription2 {
    order: 6;
  }
  .productDescription {
    order: 7;
  }
  .atc {
    padding: 1.5em;
  }
  .productSizeSelect {
    padding: 0.5em;
    margin-bottom: 0.5em;
  }
  .shopBtns {
    display: flex;
    flex-direction: column;
  }
  .shopBtns button {
    width: 100%;
  }
}

@media only screen and (max-width: 496px) {
  .viewAllBtn {
    margin-bottom: 2vw;
    padding: 4vw 2vw;
  }
  .atc {
    padding: 4vw 2vw;
  }
}
