.productImagesContainer {
}

.imageMainContainer {
  padding-bottom: 1vw;
}

.imageThumbContainer {
  display: flex;
  flex-direction: row;
}

.thumbnail {
  width: 15%;
  margin-right: 1vw;
  transition: 0.1s;
}

.thumbnail:hover {
  transform: scale(105%);
  cursor: pointer;
  outline: 1px solid rgb(68, 68, 68);
  transition: 0.1s;
}

@media only screen and (max-width: 796px) {
  .thumbnail {
    width: 15%;
    margin-right: 2vw;
  }
  .imageMainContainer {
    padding-bottom: 2vw;
  }
}

@media only screen and (max-width: 496px) {
}
