.lookbookContainer {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  padding: 5vw 0 0 10vw;
}

.imageMainContainer {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.imageNavContainer {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3vw;
}

.lookbookLinks {
  display: flex;
  flex-direction: row;
}

/* .lookbookLinks a {
  text-decoration: none;
  background-color: lightgray;
  margin-top: 0.5vw;
  padding: 0.25vw 0.5vw;
  text-align: center;
}  */

.backBtn {
  /* text-decoration: none;
  background-color: lightgray;
  margin: 0.5vw 1vw;
  padding: 0.25vw 0.5vw;
  text-align: center; */
  margin-left: 0.5vw;
}

.backBtn a {
  text-decoration: none;
}

.archiveDropdown:hover {
  cursor: default;
}

.archiveDropdown li,
.archiveDropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.archiveLinks {
  display: block;
  position: absolute;
}

.archiveLinks a {
  text-decoration: none;
}

.archiveLinks a:hover {
  background-color: rgb(231, 231, 231);
}

.hide {
  display: none;
}
