html {
  font-family: Helvetica, sans-serif;
  color: #231f20;
  font-size: 12px;
}

p,
h1,
h2,
h3,
h4,
a {
  color: #231f20;
}

body {
  touch-action: manipulation;
  margin: 0;
}

.heroImage {
  position: block;
  margin: auto;
  margin-top: 10%;
  width: 400px;
  transition: 1.5s;
}

.heroImage:hover {
  filter: hue-rotate(360deg);
  transition: filter 1.5s;
}

@keyframes rotating {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(520deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@media only screen and (max-width: 596px) {
  .heroImage {
    margin: auto;
    margin-top: 5%;
  }
}
