header {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.insideHeader {
  position: fixed;
  top: 1vw;
  right: 1vw;
  z-index: 99;
}

.logo {
  height: 175px;
  position: fixed;
  top: 1vw;
  left: 1vw;
  z-index: 99;
  opacity: 1;
  -webkit-transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.logo:hover {
  transform: translateX(5px);
}

.logo2 {
  display: none;
}

.navIcon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin-top: 1vw;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.navIcon4 span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navIcon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navIcon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navIcon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navIcon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.navIcon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.navIcon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.navContainer {
  justify-content: center;
  padding: 5vw 30%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  transform: translateY(0%);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  border-bottom: 1px solid black;
  opacity: 1;
  background-color: white;
  overflow: hidden;
}

.hide {
  transform: translateY(-100%);
  transition: 0.25s;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  opacity: 0;
}

.decoration {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  justify-content: center;
}

.decoration p {
  font-weight: 300;
}

.logoSpike {
  height: 30px;
  display: flex;
  align-self: flex-end;
}

nav {
  display: flex;
  flex-direction: column;
  margin-left: 1.5vw;
}

nav a,
nav p {
  text-decoration: none;
  font-size: 1.4rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 300;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

nav a:hover {
  transform: translateX(5px);
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

@media screen and (max-width: 769px) {
  .logo {
    height: 120px;
    position: fixed;
    top: 2vw;
    left: 2vw;
  }
  .logo2 {
    display: block;
    height: 70px;
    padding-bottom: 0;
  }
  .logoHide {
    opacity: 0;
  }
  .navText {
    display: flex;
    align-self: end;
  }
  .navContainer {
    justify-content: space-between;
    padding: 2vw 2vw 4vw 2vw;
    z-index: 100;
    display: flex;
  }
  nav {
    padding-top: 7vw;
    text-align: right;
  }
  .decoration {
    justify-content: flex-start;
    text-align: left;
  }
  .logoSpike {
    align-self: flex-start;
    height: 20px;
  }
}

@media only screen and (max-width: 596px) {
  .logo2 {
    display: block;
    height: 50px;
    padding-bottom: 1vw;
  }
  nav {
    padding-top: 8vw;
  }
}
