.imgContainer {
  width: 25%;
  margin: 0.25vw;
  transition: 0.1s;
  /* padding: 0.125vw; */
}

.imgContainer:hover {
  transform: scale(105%);
  cursor: pointer;
  outline: 1px solid rgb(68, 68, 68);
  transition: 0.1s;
}
