.lookbookContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5vw 30vw 0 30vw;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imageMainContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.imageNavContainer {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-auto-rows: auto;
  grid-gap: 0.5vw;
}

.lookbookLinks {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.backBtn {
  margin-left: 0.5vw;
}

.backBtn a {
  text-decoration: none;
}

.archiveDropdown:hover {
  cursor: default;
}

.archiveDropdown li,
.archiveDropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.archiveLinks {
  display: block;
  position: absolute;
}

.archiveLinks a {
  text-decoration: none;
}

.archiveLinks a:hover {
  background-color: rgb(231, 231, 231);
}

.hide {
  display: none;
}
