html {
  font-family: Helvetica, sans-serif;
  color: #231f20;
  font-size: 12px;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
a {
  color: #231f20;
}

body {
  touch-action: manipulation;
  margin: 0;
}

.heroImage {
  position: block;
  margin: auto;
  margin-top: 10%;
  width: 400px;
  transition: 1.5s;
}

.heroImage:hover {
  filter: hue-rotate(360deg);
  transition: filter 1.5s;
}

@keyframes rotating {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(520deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.gatsby-image-wrapper img {
  -webkit-transition: opacity 2s ease 0s !important;
  transition: opacity 2s ease 0s !important;
}

/* ANIMATION PRACTICE TEMP STYLES */
.redLine {
  background-color: red;
  width: 7.5%;
  height: 100%;
  transition: opacity 1s ease-out;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  animation: redLine 2.5s alternate infinite;
}

@keyframes redLine {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* ANIMATION PRACTICE TEMP STYLES END */

@media only screen and (max-width: 596px) {
  .heroImage {
    margin: auto;
    margin-top: 5%;
  }
  .redLine {
    width: 15%;
  }
}
