.container {
  padding: 3vw 0 5vw 0;
}

.newsList ul {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overscroll-behavior-x: none;
}

@media only screen and (max-width: 496px) {
  ul {
    flex-wrap: wrap;
  }
}
